*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body{
  height: 100%;
  width: 100%;
}

.parent{
  width: 100vw;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px; 
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.card img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #e4dada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  padding: 4px;
}



.center h3{
  color: #151414;
  font-size: 20px;
  font-weight: 900;
}

.center span{
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 900;
}

.center h2{
 font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 3px , 6px;
  font-weight: 500;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 10px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 15px, 4px;
  border: none;
  border-radius: 2px;
  column-width: 600;
  margin: 3px;
}

.bottom h3{
  font-size: 12px;

}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}