*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body,html{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.parent{
  padding: 20px;
  display: flex; 
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
  margin :10px;
}

.card button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: skyblue;
  color: black;
  cursor: pointer;
  margin-top: 9px;
}

.card p{
  margin: 20px;
}

.card img{
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
}