*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(233, 30, 30);
}

body,html{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

input{
  margin: 10px;
  padding: 10px; 
}

.box{
  background: purple;
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}