*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body,html{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.card{
  background: pink;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.nav{
  background: skyblue;
  padding: 20px;
  margin: 20px;
}